 /* General Page Style*/
h1{
    padding: inherit;
    font-family: sans-serif;
    
}
p{
    text-align: justify;
    font-family: sans-serif;
}
a{
    text-align: justify;
    font-family: sans-serif;
}
li{
    text-align: justify;
    font-family: sans-serif;
}

/* side nav bar */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: royalblue;
    overflow-x: hidden;
    padding-top: 15px;
}

.sidenav a {
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
    background-color: royalblue;
}

.sidenav a:hover {
    color: lightblue;
    background-color: #150d56 ;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}